<nav class="flex flex-wrap sm:items-center">
    {{#foreach navigation}}
        <a class="p-2 lg:p-4 text-gray-100 text-opacity-50 {{#if current}}text-opacity-100{{/if}}" href="{{url absolute="true"}}">
            {{label}}
        </a>
    {{/foreach}}
</ul>