@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer components {
  .badge-tag {
    @apply inline-flex items-center rounded-full px-2 pb-1;
  }

  .badge-tag:hover {
    background-color: currentColor;
    color: white;
  }

  .article-link svg,
  .article-link {
    @apply transition ease-in-out duration-300;
  }

  .article-link:hover svg {
    @apply opacity-100;
  }

  .stretched-link::after {
    @apply absolute inset-0 pointer-events-auto;
    z-index: 1;
    content: "";
    background-color: rgba(0, 0, 0, 0);
  }
}
