@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer components {
  .badge-tag {
    @apply inline-flex items-center rounded-full px-2 pb-1;
  }

  .badge-tag:hover {
    background-color: currentColor;
    color: white;
  }

  .article-link svg,
  .article-link {
    @apply transition ease-in-out duration-300;
  }

  .article-link:hover svg {
    @apply opacity-100;
  }

  .stretched-link::after {
    @apply absolute inset-0 pointer-events-auto;
    z-index: 1;
    content: "";
    background-color: rgba(0, 0, 0, 0);
  }

  .post-date-1 + .post-date-1 .post-label,
  .post-date-2 + .post-date-2 .post-label,
  .post-date-3 + .post-date-3 .post-label,
  .post-date-4 + .post-date-4 .post-label,
  .post-date-5 + .post-date-5 .post-label,
  .post-date-6 + .post-date-6 .post-label,
  .post-date-7 + .post-date-7 .post-label,
  .post-date-8 + .post-date-8 .post-label,
  .post-date-9 + .post-date-9 .post-label,
  .post-date-10 + .post-date-10 .post-label,
  .post-date-11 + .post-date-11 .post-label,
  .post-date-12 + .post-date-12 .post-label {
    display: none;
  }

  section h2 {
    @apply text-gray-700 font-bold uppercase mb-2;
  }

  .kg-embed-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .kg-embed-card .fluid-width-video-wrapper {
    margin: 0;
  }
}
